
body{
     background:linear-gradient(135deg, #667eea, #764ba2 , #6dd5ed ); 
      background-size: 700% 700%;
     animation: gradientMove 10s ease infinite;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 2% 15%;
    font-size: 16px;
    height: 100vh;
}

body{
 background-size: 800% 800%;
     animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100%  {background-position: 0% 50%;}
}



#wrapper{
    padding: 20px;
background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
  
    border-radius: 20px;
    width: 400px;
    /* height: 130px; */
}
 
#showme{

    background: black;
    color: white;
    text-align: right;
    margin-bottom: 15px;
    width: 95%;
    height: 60px;
    font-size: 22px;
    border-radius: 35px;
    padding: 10px;
}
.fro{
    text-align: center;
    color: white;
}
.cal{
       
   background:rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(10px); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
    gap: 10px;


    
}

button{
    border-radius: 60px;
  background:rgba(255, 255, 255, 0.2);
    color: white;
    /* width: 10px; */
    padding: 18px;
    border: none;
    cursor: pointer;
    font-size: 22px;
}
button:hover{
  background:rgba(255, 255, 255, 0.4);  
}

button.equal{
    grid-column:span 2;
}
.operator{
    background:black;
    color: white;

}

@media (max-width: 600px ){
    button{
        padding: 10px;
       font-size: 20px;
    }
    #showme{
        font-size: 20px;
    }
}